* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

.navbar {
    font-family: Lato;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 2px solid black;
}

.socialLinks a {
    margin: 5px;
    display: inline-block;
}

.socialLinks img {
    color: black;
}
