* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: Lato;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-between;
    padding: 0 10%;
}

.socialLinks img {
    margin: 5px;
    color: black;
}
