html {
    --colorLightGray: rgb(163, 163, 163);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 75%;
    margin: 0 auto;
    font-family: "Lato";
}

.navbar {
    font-family: Lato;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 2px solid black;
}

.socialLinks a {
    margin: 5px;
    display: inline-block;
}

.socialLinks img {
    color: black;
}

.pageHeading {
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.pageHeadingPortrait {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pageHeadingPortrait > img {
    border-radius: 360px;
}

.aboutMe {
    width: 450px;
    padding: 25px 25px;
    display: flex;
    display: inline-block;
    margin: 105px 0 0 0;
    /*border: 2px solid var(--colorLightGray);*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}

h3 {
    font-size: 1.3em;
}

.aboutMeContent {
    margin: 5px 0;
    font-size: 1.1em;
}
